@mixin contactForm {
    align-items: center;
    gap: 1rem;
    margin: 0 auto;
    margin-top: 6rem;
    width: 60%;
    // height: 450px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 2rem;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
    color: $darkHeading;

   

      hr {
        margin-bottom: 1.5rem;
        width: 5rem;
        color: lightgray;
      }

     

      .leftandright {
        display: flex;
        gap: 1rem;
        margin-bottom: 1rem;

        .left {
          display: flex;
          flex-direction: column;
          width: 50%;
          gap: .5rem;
        }

        .right {
          display: flex;
          flex-direction: column;
          width: 50%;
          gap: .5rem;
        }
      }

      .form-control input {
        padding: 0.5rem;
        border: none;
        background-color: rgba(211, 211, 211, 0.124);
        margin-bottom: 0.5rem;
      }

      input:focus {
        border: 1px solid rgb(228, 45, 91);
        outline: none;
      }

      textarea {
        height: 100px;
        margin-bottom: .5rem;
        width: 100%;
      }
      textarea:focus {
        border: 1px solid rgb(228, 45, 91);
        outline: none;
      }
      .textarea-text {
        margin-bottom: .5rem;
      }

      .checkbox {
        display: flex;
        gap: .5rem;
      }

      button {
        color: #fff;
        padding: 1rem;
        border: none;
        font-size: 1rem;
        width: 10rem;
        margin-top: 1rem;
        cursor: pointer;
        background-color: $plusRed;
      }
}  
