@mixin featuredProducts {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $lightestGray;

    i {
        padding-inline: 1rem;
    }

    .wrapper {
        width: 1002px;
        display: flex;
        justify-content: space-between;
        padding-block: 80px;
        gap: 2rem;

    }

    .imgDiv {
        flex-grow: 1;
        background-size: cover;
        background-position: center;
        height: 122px;
        background-color: $lightGray;
    }
}