        @mixin footer {
            
        background: #292929;
        padding: 35.5px 0;
        margin-top: auto;
        color: #A5A5A5;
        height: 98px;
        font-size: 16px;
        text-align: center;
        
      }
            
       
        
       
        
