@mixin navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100px;
        padding: 25px 12px;
        margin-inline: 30px;
        position: sticky;
        // .left-nav {

        // }

        .right-nav {
                .nav-links {
                        display: flex;
                        gap: 20px;

                        li {
                                list-style: none;
                                padding-right: 10px;
                                border-bottom: 2px solid transparent;

                                .fa-plus {
                                        margin-left: .2rem;
                                        color: $plusRed;
                                }
                        }

                        a {
                                color: $navGray;
                                text-decoration: none;
                                font-size: 15px;
                        }

                        .textLight {
                                color: $medGray;
                        }
                        li:hover {
                                border-bottom: 2px solid $medGray;
                        }
                        a:hover {
                                color: #4f4f4f;
                        }
                        .btn-logout {
                                background-color: transparent;
                                border: none;
                                color: $medGray;
                                font-size: 15px;
                                cursor: pointer;
                                outline: none;
                                &:hover {
                                        color: #4f4f4f;
                                }
                        }  
                                                          
                }        
        }
}