@mixin orderLine {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 1rem;
    height: 100px;
    
    border-bottom: 1px solid $lightGray;
    justify-content: space-between;
    align-items: center;
    justify-items: center;

    p {
        font-size: 18px;
    }


    .productImg {
        // width:270px;
        
        height: 70px;
        width: 90px;
        background-image: url('https://images.pexels.com/photos/2494608/pexels-photo-2494608.jpeg');
        background-size: cover;
        // object-fit: cover;
        background-position: center;
        overflow: hidden;
    }
}