@mixin productDetailsSection {
  margin: auto;

  button {
    cursor: pointer;
  }

  .row {
    display: flex;
    padding-top: 70px;
    justify-content: center;
    margin: 2rem 0 8rem 0;

    .left {
      padding-inline: 15px;
      display: flex;
      flex-direction: column;
      gap: 7px;
      margin-right: 4rem;

      .bigImg {
        width: 501px;
        height: 430px;
        background-color: rgba(221, 221, 221, 0.762);
        background-size: cover;
      }
    }

    .right {
      padding-inline: 15px;
      min-width: 501px;
      max-width: 501px;

      .detailsDescription {
        h2 {
          margin-bottom: 13px;
          color: $darkHeading;
          font-weight: 400;
        }

        p {
          margin-bottom: 22px;
          padding-bottom: 23px;
          color: $navGray;
          border-bottom: 1px solid $lightGray;
        }
      }

      .stars {
        display: flex;
        color: $darkHeading;
        gap: 10px;
        align-items: center;

        .fa-star {
          color: $starYellow;
        }
      }

      .price {
        padding-block: 15px;
      }

      .addCartQty {
        display: flex;
        .qty {
          display: flex;

          & > * {
            height: 48px;
            width: 48px;
            background-color: white;
            border: 1px solid $lightGray;
          }
          input {
            padding-left: 20px;
            border-inline: 0px;
          }
        }
      }

      .addToCart {
        margin-left: 20px;
        height: 48px;
        width: 160px;
        padding-inline: 22px;
        border: 0;
        font-size: 16px;
        color: white;
        background-color: $darkHeading;

        transition: 0.4s;

        &:hover {
          background-color: $plusRed;
        }
      }
      //
      .wishList {
        background-color: white;
        border: 1px solid $lightGray;
        height: 48px;
        padding-inline: 22px;
        font-size: 16px;
        transition: 0.4s;
        margin-bottom: 26px;
        width: 160px;

        &:hover {
          color: white;
          background-color: $darkHeading;
          border: 1px solid $darkHeading;
        }
      }

      .categories {
        display: flex;
        margin-bottom: 4rem;

        & * {
          font-size: 16px;
          color: $navGray;
          padding-right: 5px;
        }

        a {
          text-decoration: none;
          transition: 0.4s;

          &:hover {
            color: $plusRed;
          }
        }
      }
    }
  }
}
