@mixin productCard {
  .card-sm {
    border: 1px solid black;
    margin: 0.8rem 0.8rem;
    .image {
      width: 270px;
      height: 295px;
      background-color: #c5bebe;
    }
    p {
      padding: 0.5rem;
    }
  }
}
