@mixin ratings {
  .container {
    padding: 0 8rem;
    // background-color: #faefef;
    min-height: 37rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    .product-list {
      display: flex;
      flex-wrap: wrap;
      gap: 1.5rem;
      margin: 4rem 0;
      .card-bg-odd {
        cursor: pointer; 
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        a { 
          text-decoration: none;
          color: black;
        }
        .image {
          width: 369px;
          object-fit: cover;
          height: 295px;
          background-color: #c5bebe;
          transition: transform 0.3s ease; 
        }
          .image:hover {
            transform: scale(1.1);
          }
        .product-brief {
          background-color: $lightestGray;
          width: 369px;
          min-height: 7rem;
          padding: 0 1rem;
          .p-text {
            padding: 1rem 0;
          }
          .p-desc {
            padding-bottom: 1rem;
          }
          .text-lower {
            display: flex;
            justify-content: space-between;
            border-top: 1px solid #ece9e9;
            color: #888181;
            .p-price {
              display: flex;
              padding: 0.8rem 0;
              text-align: center;
              .p1 {
                margin-right: 2rem;
              }
            }
          }
        }
      }
    }
  }
}
