@mixin registerForm {
  
    height: 1300px;
    width: 1138px;
    background-color: #fff;
    box-shadow: 0 0 30px #f8f8f8;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #636363;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    font-family: var(--body-font);
    margin-top: 10rem;
    left:20%;
   
  
    form {
      display: flex;
      flex-direction: column;
      align-items: left;
      justify-content: center;
      }
  
      label {
        margin-bottom: 10px;
        text-align: left;
      }
  
      input {
        height: 50px;
        width: 1062px;
        background-color: rgb(250, 250, 250);
        padding: 5px;
        margin-bottom: 10px;
        border: none;
      }

      .row {
        display: flex;
        align-items: center;

        #termsConditions {
          fill: rgb(250, 250, 250);
          width: 15px;
          margin-bottom: 0;
          margin-right: .5rem;
        }
        
      }

      .error {
        color: $plusRed;
      }
  
      #btn-submit {
        height: 50px;
        width: 142px;
        letter-spacing: 0.01em;
        padding: 0px 45px;
        background-color: $plusRed;
        border: none;
        color: #fff;
        font-size: 16px;
        font-weight: 450;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        margin-top: 20px;
      }
    }
  